body {
  font-family: sans-serif;
  font-size: 10pt;
}

text {
  font-family: sans-serif;
  font-size: 10pt;
}
input {
  vertical-align: middle;
}
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}
.container {
  text-align: center;
  padding-left: 20px;
}
.sliderHumidity {
  text-align: center;
}
.tooltip {
  position: absolute;
  font-size: 12px;
  width: auto;
  height: auto;
  pointer-events: none;
  background-color: white;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scatterContainer {
  text-align: left;
  /* padding-left: 20px; */
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.plotTitle {
  font-size: 30px;
  font-weight: bold;
  color: rgb(42, 42, 156);
  margin-bottom: 10px;
  text-align: center;
}
.scatterPlot {
  display: flex;
  flex-direction: column;
}
.sliders {
  margin-left: 5%;
}
.choosers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#legendContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#legendContainer h3 {
  text-align: center;
  margin: 0;
}
